{% extends "app/layout.html" %}

{% block content %}
<div class="container" id="header-bottom">
        <h2>{{ forum.slug }}</h2>
</div>
<div class="container" id="main-content">
    <div class="col-xs-12 col-sm-10">
        <table class="table table-hover table-borderless">
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td>
                        <h4>
                            <a href="{% url 'forum:topic-detail' topic.id %}">{{ topic.title }}</a>
                            {% if topic.closed %}<span class="label label-danger">Closed</span>{% endif %}
                        </h4>

                        <small>submitted {{ topic.created|timesince }} ago by 
                        <a href="{% url 'forum:user-posts' topic.creator.get_username %}">{{ topic.creator.get_username }}</a></small>
                        <p>{{ topic.description | truncatechars:60 }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
    </div>
    {% include "forum/forum-sidebar.html" %}
</div>
<div class="container">
    <div class="pagination">
        <span class="page-links">
            {% if topics.has_previous %}
            <a href="{{ request.path }}?page={{ topics.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
            </span>
            {% if topics.has_next %}
            <a href="{{ request.path }}?page={{ topics.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>

    {% endblock %}
