{% extends "app/layout.html" %}

{% block content %}



<div class="container" id="header-bottom">
    <h2>{{forum.slug}}</h2>
    <br />
    <p>Sort options: New - Top</p>
</div>
<div class="container">
    <div class="col-xs-12 col-sm-10">
        {% if error_message %}
        <p class="text-danger">{{error_message}}</p>
        {% endif %}
        
        <table class="table table-hover table-borderless">
            <tbody>
                {% for topic in forum.topic_set.all %}
                <tr>
                    <td>
                        <h4>
                            <a href="{% url 'forum:topic-detail' topic.id %}">{{topic.title}}</a>
                            {% if topic.closed %}<span class="label label-danger">Closed</span>{% endif %}
                        </h4>

                        <small>submitted {{ topic.created|timesince }} ago by {{ topic.creator.get_username }}</small>
                        <p>{{ topic.description | truncatechars:60 }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
    </div>
    {% include "forum/forum-sidebar.html" %}
</div>


{% endblock %}
