{% extends "forum/layout.html" %}

{% block content %}

<h2>Forums</h2>
<br/>

{% if latest_forum_list %}
<table class="table table-hover">
    <tbody>
        {% for forum in latest_forum_list %}
        <tr>
            <td>
                <!--{{forum.title}}-->
                <!--<a href="{% url 'forum:forum-detail' forum.id %}">{{forum.title}}</a>-->
                <a href="{% url 'forum:forum-detail' slug=forum.slug %}">{{forum.slug}}</a>
            </td>
            <td>{{forum.num_posts}} posts</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<p>No forums available.</p>
<br />
<p>You can add a set of sample forums.</p>
<form action="/seed" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Create Sample Forums</button>
</form>
<br />
<p>You can design new forums using the Django administration interface.</p>
<p><a href="/admin" class="btn btn-primary btn-large">Django Administration &raquo;</a></p>
{% endif %}

<h2>Recent Topics</h2><h6>from all Forums</h6>
{% endblock %}
