{% extends "app/layout.html" %}

{% block content %}

<div class="container">
        

        {% if latest_forum_list %}
        <p>
            {% for forum in latest_forum_list %}
            <a href="{% url 'forum:forum-detail' slug=forum.slug %}">{{forum.slug}}</a> *
            {% endfor %}
        </p>

        {% else %}

        <p>No forums available.</p>
        {% endif %}
    <p>Sort options: New - Top</p>
    <div class="col-xs-12 col-sm-10">
        

        <!--<h2>Recent Topics</h2><h6>from all Forums</h6>-->
        {% if topics %}
        <table class="table table-hover">
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td>
                        <h4><a href="{% url 'forum:topic-detail' topic.id %}">{{topic.title}}</a></h4>
                        <small>
                            submitted {{ topic.created|timesince }} ago by {{ topic.creator.get_username }} to
                            <a href="{% url 'forum:forum-detail' slug=topic.forum.slug %}">{{topic.forum.slug}}</a>
                        </small>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}

        <p>No topics available.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-2" id="sidebar-main">
        <button type="button" class="btn btn-outline-primary btn-block">Post a new Topic</button>
        <button type="button" class="btn btn-outline-primary btn-block">Create a New Forum</button>
        <br />
        <h4>{{forum.slug}}</h4>
        <p>{{forum.description}}</p>
    </div>
</div>
        {% endblock %}
