{% extends "app/layout.html" %}

{% block content %}

<div id="header-forums" class="container">  
    {% if latest_forum_list %}
    <span class="align-middle">
        {% for forum in latest_forum_list %}
        <a href="{% url 'forum:forum-detail' slug=forum.slug %}">{{ forum.slug }}</a> -
        {% endfor %}
    </span>
    {% else %}
    <p>No forums available.</p>
    {% endif %}
</div>
<div id="header-bottom" class="container">
    <h1>Chit Chat</h1><p>Sort options: New - Top</p>
</div>

<div class="container">
    <div class="col-xs-12 col-sm-10" id="topic-table">
        {% if topics %}
        <table class="table table-hover table-borderless">
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td>
                        <h4><a href="{% url 'forum:topic-detail' topic.id %}">{{ topic.title }}</a></h4>
                        <small>
                            submitted {{ topic.created|timesince }} ago by 
                            <a href="{% url 'forum:user-posts' topic.creator.get_username %}">{{ topic.creator.get_username }}</a> to
                            <a href="{% url 'forum:forum-detail' slug=topic.forum.slug %}">{{ topic.forum.slug }}</a>
                        </small>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No topics available.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-2" id="sidebar-main">
        <a href="" class="btn btn-primary btn-block" role="button">Post a new topic</a>
        <a href="{% url 'forum:new-forum' %}" class="btn btn-primary btn-block" role="button">Create a new forum</a>
        <br />
        <p>Welcome to Chit Chat</p>
    </div>
</div>
<div class="pagination">
    <span class="page-links">
        {% if topics.has_previous %}
        <a href="{{ request.path }}?page={{ topics.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
        </span>
        {% if topics.has_next %}
        <a href="{{ request.path }}?page={{ topics.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
