{% extends "app/layout.html" %}

{% block content %}
<div class="container" id="header-bottom">
    <h2><a href="{% url 'forum:forum-detail' slug=topic.forum.slug %}">{{ topic.forum.slug }}</a></h2>
    <br />
</div>
<div class="container" id="main-content">
    <div class="col-xs-12 col-sm-9">
        <h2>{{ topic.title }}</h2>
        <p>{{ topic.description }}</p>
        <br />

        <table class="table table-hover">
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>
                        <small>submitted {{ post.created|timesince }} ago by 
                            <a href="{% url 'forum:user-posts' post.creator.get_username %}">{{ post.creator.get_username }}</a></small>
                        <p>{{ post.body }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
        <a href="{% url 'forum:reply' topic.id %}" class="btn btn-primary" role="button">Post a reply</a>

        <br />
        <div class="pagination">
            <span class="page-links">
                {% if posts.has_previous %}
                <a href="{{ request.path }}?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                <a href="{{ request.path }}?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        <!--{% block pagination %}
    {% if is_paginated %}-->

        <!--{% endif %}
        {% endblock %}-->
    </div>
    {% include "forum/forum-sidebar.html" %}
</div>
    {% endblock %}
