{% extends "app/layout.html" %}

{% block content %}
<div class="container">
    <h2><a href="{% url 'forum:forum-detail' slug=topic.forum.slug %}">{{topic.forum.slug}}</a></h2>
    <br />
    <div class="col-xs-12 col-sm-10">
        <h2>{{ topic.title }}</h2>
        <p>{{ topic.description }}</p>
        <br />

        {% if error_message %}
        <p class="text-danger">{{error_message}}</p>
        {% endif %}

        <table class="table table-hover">
            <tbody>
                {% for post in topic.post_set.all %}
                <tr>
                    <td>
                        <small>submitted {{ post.created|timesince }} ago by {{ post.creator.get_username }}</small>
                        <p>{{ post.body }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
        <a href="{% url 'forum:reply' topic.id %}" class="btn btn-primary" role="button">Post a reply</a>
       </div>
    <!--to make the sidebar work, I'll need to pass a forum context object-->
    <!-- include "forum/forum-sidebar.html" -->
    <div class="col-xs-12 col-sm-2" id="sidebar-main">
        <a href="{% url 'forum:new-topic' topic.forum.slug %}" class="btn btn-primary btn-block" role="button">Post a new topic</a>
        <br />
        <h4>{{topic.forum.slug}}</h4>
        <p>{{topic.forum.description}}</p>
    </div>
   </div>
    {% endblock %}
