{% extends "app/layout.html" %}

{% block content %}
<div class="container" id="header-bottom">
    <h2>User posts - {{ user.username }}</h2>
    <br />
    <p><a href="{% url 'forum:user-posts' user.username %}">Posts</a></p>
</div>
<div class="container">
    <div class="col-xs-12 col-sm-10">
        <br />
        <table class="table table-hover">
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td>
                        <small>submitted {{ topic.created|timesince }} ago by {{ topic.creator.get_username }}</small>
                        <p>{{ topic.description }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />

        <div class="pagination">
            <span class="page-links">
                {% if topics.has_previous %}
                <a href="{{ request.path }}?page={{ topics.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
                </span>
                {% if topics.has_next %}
                <a href="{{ request.path }}?page={{ topics.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}
